{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Beginning of Stage Two
{% endblock %}

{% block content %}
    <p>
    We are about to start Stage Two. We ask you to carefully read the instructions to follow. You will receive a QUIZ on its contents, and proceed only when you complete all questions correctly.
    </p>
    <p>
    <em><u><b>Background</b></u></em>
    </p>
    <p>
    Stage Two consists of 10 periods. The manager and the three employees in each firm will be interacting with one another during each period.
    </p>
    <p>
    The established roles (Manager, Employee A, Employee B, and Employee C) do not change throughout Stage Two.
    </p>
    <p>
    The decisions you and others in your firm make will determine your compensation, which will be first provided in points.  At the end of today’s session, earned points will be converted into cash at the rate of <b>7 cents per point</b>.
    </p>
    {% next_button %}
{% endblock %}


