{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Performance feedback
{% endblock %}

{% block content %}
    <p>
    In each period, the Manager and all three employees will be provided feedback on EACH employee’s output. Moreover, they will receive information on which employee’s output has been positively or negatively impacted by the uncontrollable shock, if any. However, no one, except for the affected employee, knows the exact magnitude of the effect.
    </p>
    <p>
    Importantly, recall that the employees’ effort choices are NOT directly observable by anyone else in the firm, including the Manager.
    </p>
    {% next_button %}

{% endblock %}
