{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Employees' Bonus Distribution (Pay Transparent Conditions)
{% endblock %}

{% block content %}
    <p>
        The employee bonus pool will be distributed among the three employees by the Manager.
        Specifically, the Manager will allocate the bonus pool by entering the bonus amounts, in points, in the computer.  The sum of the three bonuses must equal the total employee bonus and no employee can receive less than zero.
    </p>
    <p>
        <b>All three employees will be informed of: </b>
        <ol style="list-style-type: decimal">
            <li>
                the total amount of the employee bonus pool, and
            </li>
            <li>
                the amount of bonus allocated to EACH employee by the Manager.
            </li>
        </ol>
    </p>
    {% next_button %}
    <style type="text/css">
        li {
            margin-top: 10px;
        }
    </style>
{% endblock %}
