{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    <p>
        Thank you for participating in our study.  The study will last about 100 minutes and it consists of two tasks in the context of a firm: In Stage One, you will be working on a slider bar task. In Stage Two, you will be working on a decision making task.
    </p>
    <p>
        All interactions will be anonymous and we promise to carry out this study in the manner described in the instructions, with NO deception of any form.
    </p>
    <p>
        If you have any questions while reading the instructions, or during the study, please send a private message to the administrator via Zoom.  It is important that you keep your questions and decisions private.
    </p>
    <p>
        Please help us maintain control over this study by not discussing it with anyone who may be participating in future sessions.
    </p>
    {% next_button %}

{% endblock %}
